<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<script>let tickers = {{{ json tickers }}}</script>

<div class="myTable">
  <table class="tableI">
    <tr class="tableTH">
      <th>SYMBOL</th>
      <th>LAST PRICE</th>
      <th>24H VOL</th>
      {{!-- <th>24H CHANGE</th> --}}
    </tr>

    {{#each tickers}}
    <tr class="tableTD">
      <td> {{this.symbol}}</td>
      <td> {{this.last}}</td>
      <td> {{this.baseVolume}}</td>
      {{!-- <td> {{this.change}}</td> --}}
    </tr>

    {{/each}}

  </table>

</div>

<script src="./javascripts/script.js"></script>