


<script>let tickers = {{{ json tickers }}}
</script>
<section class="imgMarket"></section>

<h2>CURRENCIES</h2>
  <table>
    <tr>
       <th>SYMBOL</th>
       <th>NAME</th>
       <th>PRICE</th>
       <th>VOLUME 24H</th>
       <th>PERCENT 1H</th>
       <th>PERCENT 24H</th>
      <th>PERCENT 7D</th>
      <th>MARKET CAP</th>
    </tr>
   
   
    {{#each tickers}}
    <tr class="trTD">
      <td > {{this.symbol}}</td>
      <td> {{this.name}}</td>
      <td> {{fixed this.quotes.USD.price}}</td>
      <td> {{floor this.quotes.USD.volume_24h}}</td>
      <td class="{{color this.quotes.USD.percent_change_1h}}"> {{this.quotes.USD.percent_change_1h}}</td>
      <td class="{{color this.quotes.USD.percent_change_7d}}"> {{this.quotes.USD.percent_change_7d}}</td>
      <td class="{{color this.quotes.USD.percent_change_24h}}"> {{this.quotes.USD.percent_change_24h}}</td>
      <td> {{this.quotes.USD.market_cap}}</td>
      
    </tr>

    {{/each}}
   <hr>

  </table>



