<script>let tickers = {{{ json tickers }}}
</script>
<section class="imgMarket">

  <h2 class="currencies-title">CURRENCIES</h2>

</section>


<table id="tickersTable">
  <tr>
    <th id="tabSymbol">SYMBOL</th>
    <th id="tabName">NAME</th>
    <th id="tabPrice">PRICE</th>
    <th id="tabVol24h" class="reverse-order">VOLUME 24H</th>
    <th id="tabPrc1h">PERCENT 1H</th>
    <th id="tabPrc24h">PERCENT 24H</th>
    <th id="tabPrc7d">PERCENT 7D</th>
    <th id="tabMarketCap">MARKET CAP</th>
  </tr>


  {{#each tickers}}
  <tr class="trTD">
    <td> {{this.symbol}}</td>
    <td> {{this.name}}</td>
    <td> {{fixed this.quotes.USD.price}}</td>
    <td> {{floor this.quotes.USD.volume_24h}}</td>
    <td class="{{color this.quotes.USD.percent_change_1h}}"> {{this.quotes.USD.percent_change_1h}}</td>
    <td class="{{color this.quotes.USD.percent_change_24h}}"> {{this.quotes.USD.percent_change_24h}}</td>
    <td class="{{color this.quotes.USD.percent_change_7d}}"> {{this.quotes.USD.percent_change_7d}}</td>
    <td> {{formatEn this.quotes.USD.market_cap}}</td>

  </tr>

  {{/each}}
  <hr class="marketHR">
</table>


<script src="/javascripts/marketSorting.js"></script>